<footer class="bg-dark py-4 fixed-bottom">
    <div class="container px-5">
        <div class="row align-items-center justify-content-between flex-column flex-sm-row">
            <div class="col-auto">
                <div class="small m-0 text-white">Tüm haklar işe alım süreci içerisinde OrionPos ve Yazılım geliştirme adayına aittir &copy; Metehan Fırat 2023</div>
            </div>
            <div class="col-auto">
                <a href="mailto:metehanfrt@gmail.com" class="text-white">metehanfrt@gmail.com</a>
            </div>
        </div>
    </div>
</footer>

