@* Navbar her oluşturduğum view'de tekrar tekrar yazmamak için bu alanda kullanmayı tercih ederim ve bootstrapt template kullanılmıştır *@

<!-- Navbar 1: Hidden brand -->

<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand"  href="#">ORİONPOS TELEFON REHBERİ</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end bg-dark text-white" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title text-white" id="offcanvasDarkNavbarLabel">Dark Login</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">

                        <li class="nav-item">
                            <a class="nav-link active text-white" href="~/Auth/Login" aria-current="page">Login</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link active text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Theme
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="ChangeTheme" asp-route-theme="Dark">Dark</a></li>
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="ChangeTheme" asp-route-theme="Light">Light</a></li>
                            </ul>
                        </li>

                    </ul>

                    <ul class="navbar-nav ms-auto">
                        @if (Context.Request.Cookies["KullaniciAdi"] != null || Context.Session.GetString("KullaniciAdi") != null)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    @(Helper.Base64Decode(Context.Request.Cookies["KullaniciAdi"]) ?? Context.Session.GetString("KullaniciAdi"))
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="#">Profilim</a></li>
                                    <li><a class="dropdown-item" href="#">Ayarlar</a></li>
                                    <li><a class="dropdown-item" asp-controller="Auth" asp-action="Logout">Çıkış</a></li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Login">Giriş yap</a>
                            </li>
                        }
                    </ul>
                </nav>
                
            </div>
        </div>

    </div>
</nav>





